.footer {
  width: 100%;
  background-color: #000;
  counter-reset: #eee;
  padding: 3rem 1rem;
  margin-top: 2rem;
}
.footer .container {
  max-width: 1240px;

  margin: auto;
  text-align: center;
}
.footer ul {
  display: flex;
  justify-content: center;
}
.footer li {
  padding: 1rem;
}
.footer li a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--secondary-color);
}
.bottom {
  text-align: center;
  padding-top: 3rem;
  color: #fff;
}
.contact-items {
    padding: 1rem;
}
.line {
  margin-bottom: 1rem;
}
.footer p {
    color: #fff;
    font-size: small;
}
